footer > div {
  background-color: var(--burgundy);
}

.footer-link {
  text-decoration: none;
  color: var(--dark-blue);
  border: 2px solid var(--light);
  padding: 20px 30px;
  border-radius: 50%;
  position: relative;
  margin-left: 15px;
  transition: 0.4s ease-in-out;
}
.footer-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-link:hover {
  color: var(--light);
  border-color: var(--dark-blue);
}
