.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  color: var(--light);
  position: relative;
  top: 150px;
}
#navbar {
  background-color: var(--transparent-black);
}
.btn-nav a {
  margin: 20px 20px;
  font-size: 1rem;
  transition: all 0.25s;
  text-decoration: none;
  color: var(--light);
  padding: 20px;
  font-family: "Anta", sans-serif;
  letter-spacing: 1px;
  padding: 20px;
  background-color: transparent;
}
.navbar-brand img {
  width: 90px;
}
.btn-nav a:hover {
  border-bottom: 1px solid var(--gold);
  color: var(--gold);
  letter-spacing: 4px;
}
.hamburger {
  cursor: pointer;
  display: none;
  transition: 0.4s ease-in-out;
}
.hamburger .stick {
  width: 38px;
  height: 3px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    left: 0;
    top: -200%;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease-in-out;
    gap: 15px;
    padding: 50px;
    gap: 30px;
  }
  .hamburger.navbar-active .stick:nth-child(1) {
    transform: translateY(12px) rotate(50deg);
  }
  .hamburger.navbar-active .stick:nth-child(2) {
    opacity: 0;
  }
  .hamburger.navbar-active .stick:nth-child(3) {
    transform: translateY(-8px) rotate(-50deg);
  }
  .navbar-nav.navbar-active {
    top: 70px;
  }
}
